<div class="row">

    <div class="col-md-9">
        <h1>Proyectos de Investigación</h1>
        <hr>

        <p>Esta aplicación permite a los estudiantes de la Universidad del Quindío elaborar sus propuestas de investigación</p>
    </div>

    <div class="col-md-3">

        <div class="card card-shadow">
            <div class="card-body">
                <div class="form-group">
                    <label>Usuario</label>
                    <input class="form-control" type="text" [(ngModel)]="usuario.idusuario" name="idusuario">
                </div>

                <div class="form-group">
                    <label>Contraseña</label>
                    <input class="form-control" type="password" [(ngModel)]="usuario.contra" name="contra">
                </div>

                <button class="btn btn-outline-success" (click)="iniciarSesion()">Iniciar Sesión</button>
            </div>
        </div>
    </div>
</div>
